@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:wght@300&display=swap');

.homepage {
    width: 500px;
    height: 100vh;
    padding: 2rem;
    background: url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/c612a127919515.5636cc305faee.gif);
    background-position: center;
    background-size: 130%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 5px;

  
    
    input {
      color: black;
      height: 50px;
      width: 80%;
      background-color: #cccccc;
      border: none;
      padding-left: 1rem;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
    #colorH1{
      font-family: 'Averia Libre', cursive;
      opacity: 80%;
    }
    button {
      font-size: 1rem;
      padding: 0.5rem 1rem 0.5rem 1rem;
      width: 100px;
      border: none;
      background: url(https://media2.giphy.com/media/fXFMtvW5L6bYI/200w.gif);
      border-radius: 5px;
  
      color: white;
      &:hover {
        cursor: pointer;
      }
    }
  }