@import './globals';
@import '~bootstrap/scss/bootstrap';

body{
  background: teal;
}
.App {
background: #322b34;
width: 1000px;
height: 250px;

  .left{
    display:inline-flex;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
  }
  .right{
  display:inline-flex;
  justify-content: center;
  margin-left: 10%;
  }
}
.Nav{
  width: 100%;
}
.NavLinks{
  margin: 10px;
  
}
