@import './globals';
@import '~bootstrap/scss/bootstrap';

.App {
background: #264653;
background-size: cover;
  .left{
    display:inline-flex;
    justify-content: center;
    margin-right: 10%;
    margin-left: 10%;
  }
  .right{
  display:inline-flex;
  justify-content: center;
  margin-left: 10%;
  }
}
.Nav{
  width: 100%;
}
.NavLinks{
  margin: 10px;
  
}
